@{
    ViewData["Title"] = "Superhero Creator Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Superhero Creator!</h1>
    <p>To create your own List of Superheroes, click one of the links at the top to start ^</p>
    <img src="https://pyxis.nymag.com/v1/imgs/0df/e78/a4db718d8962b1b91de27a3dc00e996a5e-12-man-of-steel.rsquare.w700.jpg" 
         alt="HENRY CAVILL as Superman in Warner Bros. Pictures’ and Legendary Pictures’ action adventure “MAN OF STEEL,” a Warner Bros. Pictures release. Photo: Clay Enos/Warner Bros. Website:https://www.vulture.com/2013/06/movie-review-man-of-steel.html " />>
</div>
