@{
    ViewData["Title"] = "Superhero Creator Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Superhero Creator!</h1>
    <p>Create your own List of Superheroes, click one of the links at the top to start ^</p>
</div>
